/* Define custom fonts */
@font-face {
    font-family: 'ProtestGuerrilla'; /* Name to reference the font */
    src: url('../fonts/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf') format('truetype'); /* Path to the .ttf file */
}

@font-face {
    font-family: 'ProtestRevolution'; /* Name to reference the font */
    src: url('../fonts/Protest_Revolution/ProtestRevolution-Regular.ttf') format('truetype'); /* Path to the .ttf file */
}

/* Body styles */
body {
    background-color: black; /* Set background color to black */
}

/* Heading 2 styles */
h2 {
    text-align: center; /* Center-align heading 2 */
}

/* Styles for the jumbotron */
.jumbotron {
    padding-bottom: 10%; /* Add padding to the bottom of the jumbotron */
}

/* Styles for h1 inside jumbotron */
.jumbotron > h1 {
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    font-weight: 900; /* Roboto Black */
    text-align: center; /* Center-align text */
}

/* Styles for activeFrame */
.activeFrame {
    width: 100%; /* Set width to 100% */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    text-align: center; /* Center-align text */
}

/* Styles for sidePanel */
.sidePanel {
    width: 50%; /* Set width to 50% */
}

/* Styles for currentLyrics */
.currentLyrics {
    text-align: center; /* Center-align text */
}

/* Styles for myPlayButton */
.myPlayButton {
    margin-top: 2%; /* Add margin to the top */
    width: 50%; /* Set width to 50% */
    background-color: crimson; /* Set background color */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    color: ghostwhite; /* Set text color */
}

.myPlayButton:hover,
.myPlayButton:active {
    background-color: black; /* Change background color on hover and active */
    color: crimson; /* Change text color on hover and active */
}

/* Styles for mainImage */
.mainImage {
    justify-content: center; /* Center-align content */
    text-align: center; /* Center-align text */
    margin: auto; /* Center horizontally */
    display: block; /* Display as block element */
    border-radius: 5px; /* Add border radius */
}

/* Styles for btn-primary */
.btn-primary:active:hover {
    background-color: darkred; /* Change background color on hover and active */
    color: whitesmoke; /* Set text color */
}

/* Styles for fullLyrics */
.fullLyrics {
    color: crimson; /* Set text color */
}

/* ID styles */
#verse {
    color: crimson; /* Set text color */
    font-family: 'ProtestRevolution'; /* Use ProtestRevolution font */
}

#currentLyrics {
    color: antiquewhite; /* Set text color */
    padding-bottom: 3%; /* Add padding to the bottom */
}

/* Styles for grayBackground */
.grayBackground {
    margin-top: 10px; /* Add margin to the top */
    padding-top: 5px; /* Add padding to the top */
    background-color: gray; /* Set background color to gray */
}

/* Styles for span */
span {
    justify-content: center; /* Center-align content */
    text-align: center; /* Center-align text */
    margin: auto; /* Center horizontally */
    display: block; /* Display as block element */
}

/* Styles for timeStamp */
#timeStamp {
    color: antiquewhite; /* Set text color */
}

/* Styles for specific elements */
#_15, ._15 {
    font-size: 35px; /* Set font size */
}

#_130, ._130, #_41, ._41 {
    font-size: 50px; /* Set font size */
}

#_18, ._18 {
    font-size: 65px; /* Set font size */
}

/* Specific styles for certain elements */
#_15, #_46, #_49, #_96, #_117, #_119, #_203, #_206, ._15, ._46, ._49, ._117, ._119, ._203, ._206 {
    font-size: 35px; /* Set font size */
}

#_96, ._96 {
    font-size: 50px; /* Set font size */
}
